.footerBox{
    width: 100vw;
    height: 300px;
    
    position: fixed;
    bottom: auto;

    background-color: black;

    box-shadow: 0 2px 15px aliceblue;
    clip-path: inset(-20px 0px 0px 0px);
}

.footerContent
{
    padding-top: 20px;

    color:aliceblue;
    text-align: center;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    'footerColumn1 footerColumn2';
}

.footerColumn1
{
    grid-area: footerColumn1;
}

.footerColumn2
{
    grid-area: footerColumn2;
}



@media only screen and (max-width:750px)
{
    .footerBox
    {
        height: 500px;
    }

    .footerContent
    {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: 
        'footerColumn1' 
        'footerColumn2' ;
    }

    .footerContent h1
    {
        text-align: center;
    }

    .footerColumn1
    {
        grid-area: footerColumn1;
        margin: auto auto;
    }

    .footerColumn2
    {
        grid-area: footerColumn2;
        margin: auto auto;
    }

    .footerColumn3
    {
        grid-area: footerColumn3;
        margin: auto auto;
    }
}

.footerContent a
{
    text-decoration: none;
    color: rgb(0,149,255);
}